.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Navigation styles */

.optional {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 150px;
}

.nav-header {
    font-size: 28px;
    font-weight: bold;
    color: #0D1321;
}

.nav-btn {
    font-size: 20px;
    font-weight: 350px;
    color: white;
    border-radius: 5px;
    background-color: #0D1321;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

/* Banner styles */

.banner {
    background-image: url('../assets/Hero-bg.png');
    justify-content: center;
    text-align: center;
    padding: 26px 250px 45px 250px;

}

.banner-header {
    font-size: 48px;
    font-weight: bold;
    color: #0D1321;
}

.banner-des {
    font-size: 18px;
    color: #0D1321;
}

.banner-btn {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #0D1321;
    padding: 18px;
    border-radius: 7px;
    cursor: pointer;
}